<nav class="elsw">

  <h2>Elsewhere</h2>

  <p>I'm also active elsewhere on the internet.</p>

  <ul>
    <li>
      <%= link_to "Twitter", "http://twitter.com/pbyrne", class: "elsw-link elsw-twitter" %>
    </li>
    <li>
      <%= link_to "GitHub", "https://github.com/pbyrne", class: "elsw-link elsw-github" %>
    </li>
    <li>
      <%= link_to "RubyGems", "https://rubygems.org/profiles/pbyrne", class: "elsw-link elsw-rubygems" %>
    </li>
    <li>
      <%= link_to "Facebook", "http://facebook.com/patrickjbyrne", class: "elsw-link elsw-facebook" %>
    </li>
    <li>
      <%= link_to "LinkedIn", "http://www.linkedin.com/in/patrickjbyrne", class: "elsw-link elsw-linkedin" %>
    </li>
  </ul>

</nav>

