<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Homepage of Patrick Byrne">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {{ title }} | Patrick Byrne</title>
    <link rel="stylesheet" href="{{ "/stylesheets/site.css" }}" />
    <script type="module" src="{{ "/javascripts/site.js" }}"></script>
  </head>
  <body>
    {{ content }}
    <footer>
      © 2008–{{ "now" | date: "%Y" }} Patrick Byrne
    </footer>
  </body>
</html>
