---
title: Hello!
---

<section class="intro">
  <h1>Hello!</h1>

  <p>
  As you’ve probably guessed, I’m Patrick Byrne.
  👋
  </p>

  <%= image_tag "avatar-400.jpg", alt: "Headshot of Patrick", class: "avatar", height: 200, width: 200 %>
</section>

<p>
I belong to <%= link_to "Angela", "https://twitter.com/aca902" %> and <%= link_to "Henry", "https://twitter.com/henrydbyrne" %>.
I live in Roseville, MN.
I work remotely for <%= link_to "Dribbble", "https://dribbble.com/" %> as a web developer.
I’ve worked as a web developer and operations/infrastructure person for a while now.
</p>

<nav>
  <p>
  You can find me elsewhere on the internet.
  </p>

  <ul>
    <li><%= link_to "Twitter", "https://twitter.com/pbyrne" %></li>
    <li><%= link_to "GitHub", "https://github.com/pbyrne" %></li>
    <li><%= link_to "Micro.blog", "https://micro.blog/pbyrne" %></li>
    <li><%= link_to "Dribbble", "https://dribbble.com/pbyrne" %></li>
    <li><%= link_to "CodePen", "https://codepen.io/pbyrne/" %></li>
    <li><%= link_to "Goodreads", "https://www.goodreads.com/user/show/5928666-patrick-byrne" %></li>
    <li><%= link_to "RubyGems", "https://rubygems.org/profiles/pbyrne" %></li>
    <li><%= link_to "Vimeo", "https://vimeo.com/pbyrne" %></li>
  </ul>
</nav>
